<html>
<head>
    <title>EvX join</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body style="background-color: #212529;">
    <div class="card text-center vh-center">
        <div class="card-body">
          <h5 class="card-title white-bold">Invite  Code</h5>
          <div class="card-footer"> 
          <form method="POST">
            <input name="code" type="text"><br><br>
            <input class="btn btn-primary"  value="Submit" type="submit"><br>
            </form>
        </div>

      </div>
</body>
</html>